.grid-container { 
    display: grid;
        grid-template-columns: 20% auto 20%;
        grid-gap: 10px;  
}

#header{grid-column: 1/span 4;}

#picture{grid-column: 1/span 1;}
#picture{width: 500px;}
#picture{margin-top: 30px;}

#port{grid-column: 1/span 3;}
#port{text-align: left;}
#port{font-size: 40px;}
#port{font-weight: bold;}
#port{color: rgb(43, 43, 43);}

#name{grid-column: 2/span 3;}
#name{margin-left: 200px;}

#skill{grid-column: 1/span 4;}

#hobby{grid-column: 1/span 4;}


@media only screen and (max-width: 768px) {
	.grid-container {
        display: grid;
        grid-template-columns: 20% auto;
        grid-gap: 10px;
		  }

	#header{grid-column: 1/span 3;}

    #picture{grid-column: 1/span 3;}
    

    #port{grid-column: 1/span 3;}
    
    #name{grid-column: 1/span 3;}
    #name{margin-left: 10px;}

    #skill{grid-column: 1/span 3;}

    #hobby{grid-column: 1/span 3;}

	
}

@media only screen and (max-width: 480px) {
	.grid-container {
        display: grid;
        grid-template-columns: 20% auto;
        grid-gap: 10px;
		  }
	#header{grid-column: 1/span 3;}
    #header{width: 400px;}

    #picture{grid-column: 1/span 3;}
    #picture{width: 400px;}

    #name{grid-column: 1/span 3;}
    #name{width: 400px;}

	#skill{grid-column: 1/span 3;}

    #assing{width: 400px;}

    #hobby{grid-column: 1/span 3;}

}
div{
    text-align: center;
    /*border: 2px solid aqua;*/
    /*padding: 1%;*/
}

img{
    width: 100%;
}
h1{
    background-color: rgb(196, 232, 252);
    border-radius: 50px;
    font-size: 60px;
    border: 2px solid rgb(215, 136, 252);
    padding: 1%;
    color: rgb(134, 136, 248);
}
h2{
    background-color: rgb(196, 232, 252);
    border-radius: 50px;
    border: 2px solid rgb(215, 136, 252);
    padding: 1%;
    font-size: 40px;
}
h3{
    border-radius: 50px;
    font-size: 125%;
    border: 2px solid rgb(215, 136, 252);
    padding: 1%;
    text-align:  left;
}
h4{
    background-color: rgb(196, 232, 252);
    border-radius: 50px;
    border: 2px solid rgb(215, 136, 252);
    padding: 1%;
    font-size: 30px;
}
.skill-picture{
    background-color: rgb(196, 232, 252);
    border-radius: 50px;
    border: 2px solid rgb(215, 136, 252);
    padding: 1%;

    width: 490%;
    display: flex;
    justify-content: center;
    
}

.skill-picture > div{
    width: 50%;
    margin: 5% 2%;
    padding: 5% 0%;
    text-align: center;
}
.hobby-picture{
    background-color: rgb(196, 232, 252);
    border-radius: 50px;
    border: 2px solid rgb(215, 136, 252);
    padding: 1%;

    width: 490%;
    display: flex;
    justify-content: center;
    
}

.hobby-picture > div{
    width: 50%;
    margin: 5% 2%;
    padding: 5% 0%;
    text-align: center;
}

body{
    background-color: rgb(183, 234, 247);
    
}

