.grid-container { 
    display: grid;
        grid-template-columns: 20% auto 20%;
        grid-gap: 10px;  
}

#header{grid-column: 1/span 4;}

#project{grid-column: 1/span3;}
#project{text-align: left;}
#project{font-size: 40px;}
#project{font-weight: bold;}
#project{color: rgb(43, 43, 43);}

#font{margin: auto; font-size: 150%;}


@media only screen and (max-width: 768px) {
	.grid-container {
        display: grid;
        grid-template-columns: 20% auto;
        grid-gap: 10px;
		  }

	
}

@media only screen and (max-width: 480px) {
	.grid-container {
        display: grid;
        grid-template-columns: 20% auto;
        grid-gap: 10px;
		  }
	
}
h1{
    text-align: center;
    background-color: rgb(196, 232, 252);
    border-radius: 50px;
    font-size: 60px;
    border: 2px solid rgb(215, 136, 252);
    padding: 1%;
    color: rgb(134, 136, 248);
}
.grid-project {
    grid-column: 1/ 4;
}

.grid-project > div{
	background-color: rgb(225, 252, 252);
    padding: 0% 2%;
    text-align: center;
}
.flex-project1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-project1 > div{
    width: 50%;
    margin: 3% 0%;
    text-align: center;
    align-content: center;
}
.flex-project2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-project2 > div{
    width: 50%;
    margin: 3% 0%;
    text-align: center;
    align-content: center;
}
img{
    width: 100%;
}
.line{
    width: 80%;
    border-radius: 20px;
}
.video{
    width: 100%;
    border-radius: 20px;
}

body{
    background-color: rgb(183, 234, 247);
    
}

