body{
    background-color: rgb(144, 250, 250);
    border: 3px solid rgb(208, 246, 253);
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
}

div{
    color: rgb(250, 244, 158);
    font-size: 30px;
    border: 10px solid rgb(146, 146, 241);
    border-radius: 10%;
    text-align: left;
    width: fit-content;
    background-color: rgb(245, 158, 158);
    padding-left: 1%;
    padding-right: 1%;
}